<footer class="footer ">
  <div class="container-fluid">
      <nav class="pull-left">
          <ul>
              <li>
                  <a href="https://www.angularlicio.us" target="_blank">
                      Angularlicious :: Matt Vaughn
                  </a>
              </li>
              <li>
                  <a href="https://www.angularlicio.us/about" target="_blank">
                      About Us
                  </a>
              </li>
              <li>
                  <a href="https://www.angularlicio.us/blog" target="_blank">
                      Blog
                  </a>
              </li>
              <li>
                  <a href="https://www.angularlicio.us/license" target="_blank">
                      Licenses
                  </a>
              </li>
          </ul>
      </nav>
      <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, made with love by
          <a href="https://angularlicio.us" target="_blank">Angularlicious</a> for a better web.
      </div>
  </div>
</footer>
