<div class="row" *ngIf="showStatCards">
    <!-- TOTAL REPOSITORY STATS: START -->
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Total Results Available</p>
                <h3 class="card-title">{{totalCount}}
                    <small></small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons text-danger">warning</i>
                    <a href="#pablo">Total number of items available from GitHub.</a>
                </div>
            </div>
        </div>
    </div>
    <!-- TOTAL REPOSITORY STATS: END -->

    <!-- REPOSITORY ITEMS PER PAGE: START -->
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">inbox</i>
                </div>
                <p class="card-category">Items per Page</p>
                <h3 class="card-title">{{itemsPerPage}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">date_range</i> The number of items to display per page.
                </div>
            </div>
        </div>
    </div>
    <!-- REPOSITORY ITEMS PER PAGE: START -->

    <!-- TOTAL SEARCHES : START -->
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">search</i>
                </div>
                <p class="card-category">Total Searches</p>
                <h3 class="card-title">{{totalSearches}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">local_offer</i> Your total search count.
                </div>
            </div>
        </div>
    </div>
    <!-- RESULT PAGE NUMBER : END -->

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">info_outline</i>
                    <!-- <i class="fa fa-twitter"></i> -->
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Just Updated
                </div>
            </div>
        </div>
    </div>
</div>