<!-- THE [SEARCH COMPONENT] IS THE CONTAINER/COORDINATING COMPONENT (OTHER ITEMS ARE PRESENTATIONAL) -->

<div class="main-content">
    <div class="container-fluid">

        <!-- GITHUB SEARCH TABS: USERS, TECHNOLOGY, AND LOCATION: START-->
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Github Search:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">folder</i> Repositories
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i>/<i class="material-icons">location_on</i>
                                            Technology & Location
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">

                            <!-- USER SEARCH FORM: START -->
                            <div class="tab-pane active" id="profile">
                                <h3>Github User Search:</h3>
                                <!-- CREATE REACTIVE FORM HERE WITH SEARCH INPUT -->
                                <angularlicious-search-form (searchType)="handleSearchType()"></angularlicious-search-form>
                            </div>
                            <!-- USER SEARCH FORM: END -->

                            <!-- TECHNOLOGY & LOCATION SEARCH FORM: START -->
                            <div class="tab-pane" id="messages">
                                <h3>Technology & Location Search</h3>
                                <angularlicious-tech-location-search (searchType)="handleSearchType()"></angularlicious-tech-location-search>
                            </div>
                            <!-- TECHNOLOGY & LOCATION SEARCH FORM: END -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- GITHUB SEARCH TABS: USERS, TECHNOLOGY, AND LOCATION: END-->

        <!-- SEARCH RESULTS STATISTICS: START -->
        <angularlicious-repository-stats [searchType]="searchType"></angularlicious-repository-stats>
        <!-- SEARCH RESULTS STATISTICS: START -->

        <!-- SEARCH RESULTS: START -->
        <angularlicious-repository-results [searchType]="searchType"></angularlicious-repository-results>
        <!-- SEARCH RESULTS: END -->

    </div>
</div>