<div class="col-lg-12 col-md-12">

  <p>Use the search to find GitHub repositories and owner information.</p>

  <form novalidate [formGroup]="searchCriteriaFormGroup">
    <div>

      <mat-form-field class="search-full-width">
        <input matInput formControlName="repositoryName" placeholder="Enter repository name...(i.e., buildmotion)" value="">
      </mat-form-field>

      <div class="error"
        *ngIf="searchCriteriaFormGroup.get('repositoryName').hasError('required') && searchCriteriaFormGroup.get('repositoryName').touched">
        Repository name is required.
      </div>
      
      <div class="error"
        *ngIf="searchCriteriaFormGroup.get('repositoryName').hasError('minlength') && searchCriteriaFormGroup.get('repositoryName').touched">
        Minimum of 2 characters
      </div>
    </div>

    <div>
      <mat-form-field class="search-full-width">
        <mat-select formControlName="itemsPerPage" placeholder="Items per page">
          <mat-option *ngFor="let option of itemsPerPageOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <p *ngIf="isDebug">
      Form Value: {{ searchCriteriaFormGroup.value | json }}
    </p>
  </form>
</div>